pkgname={{ .ServiceName }}
pkgver=1
pkgrel=1
epoch=1
arch=('x86_64')
source=()

prepare() {
  cp ../$pkgname.service .
  cp {{ printf "%q" .SourceProgramPath }} $pkgname
}

package() {
  install -Dm755 "$srcdir/$pkgname" "$pkgdir/{{ .ProgramPath }}"
  install -Dm644 "$srcdir/$pkgname.service" "$pkgdir/usr/lib/systemd/system/$pkgname.service"
}
